#SceneScene8 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
	background-color : #D3D6DE;
}


#SceneScene8 #lb_titulo_graficoPr{
	position : absolute;
	font-size : 26pt;
	color : #210000;
	left : 40px;
	top : 20px;
	width : 880px;
	text-align:center;
	background-color:#9793A7;
}

.imagenGrafico {
	height : 240px;
}

.pregunta{
	white-space:pre-wrap;
	background-color: #A9A9A9;
	text-align:center;
}
#SceneScene8 #divGrafico{
	position : absolute;
	font-size : 10pt;
	color : #210000;
	left : 190px;
	top : 210px;
	width : 590px;
}

#SceneScene8 #CargandoGrafico{
	position : absolute;
	left : 410px;
	top : 260px;
}

#SceneScene8 #lb_Desc_Pregunta{
	position : absolute;
	font-size : 22pt;
	color : #210000;
	left : 90px;
	top : 120px;
	width : 770px;
}
