#SceneScene9 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
	background-color : #a0c0ff;
}


#SceneScene9 #btn_Mac{
	position : absolute;
	left : 90px;
	top : 420px;
	width : 150px;
}

#SceneScene9 #btn_TipoConeccion{
	position : absolute;
	left : 380px;
	top : 420px;
	width : 160px;
}

#SceneScene9 #btn_ID_TV{
	position : absolute;
	left : 680px;
	top : 420px;
	width : 140px;
}

#SceneScene9 #hlpBar_test{
	position : absolute;
	left : 0px;
	top : 506px;
}

#SceneScene9 #img_test{
	position : absolute;
	left : 370px;
	top : 200px;
	width : 200px;
	height : 180px;
}

#SceneScene9 #lb_tiutlo_test{
	position : absolute;
	font-size : 28pt;
	color : #210000;
	left : 110px;
	top : 20px;
	width : 720px;
	text-align:center;
	background-color:#ffffff;
}

#SceneScene9 #lb_resultado_test{
	position : absolute;
	font-size : 24pt;
	color : #210000;
	left : 230px;
	top : 110px;
	width : 480px;
	text-align:center;
}
