#SceneScene4 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
	background-color : #D3D6DE;
}


#SceneScene4 #lbTituloPreguntas{
	position : absolute;
	font-size : 26pt;
	color : #210000;
	left : 40px;
	top : 20px;
	width : 880px;
	text-align:center;
	background-color:#9793A7;
}

#SceneScene4 #hrlpBar4{
	position : absolute;
	left : 0px;
	top : 506px;
}

#SceneScene4 #lbPregunta{
	position : absolute;
	font-size : 18pt;
	color : #210000;
	left : 230px;
	top : 290px;
	width : 500px;
	white-space:pre-wrap;
	height : 100px;
	background-color: #A9A9A9;
	text-align:center;
	padding-top:50px;
}

#SceneScene4 #lbTituloPregunta{
	position : absolute;
	font-size : 20pt;
	color : #fffbf0;
	left : 380px;
	top : 180px;
	width : 210px;
}

#SceneScene4 #loadingVotos{
	position : absolute;
	left : 410px;
	top : 170px;
}

#SceneScene4 #signoPregunta{
	position : absolute;
	left : 40px;
	top : 290px;
	width : 140px;
	height : 100px;
}

#SceneScene4 #signoPregunta2{
	position : absolute;
	left : 790px;
	top : 300px;
	width : 130px;
	height : 110px;
}

#SceneScene4 #cargaPreguntas_Votos{
	position : absolute;
	left : 410px;
	top : 140px;
}

.tutilo{
	text-align:center;
	background-color: #A9A9A9;
	border: 3px solid #000000;
}