#SceneScene6 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
	background-color : #c0c0c0;
}


#SceneScene6 #Titulo_I{
	position : absolute;
	font-size : 26pt;
	color : #210000;
	left : 40px;
	top : 20px;
	width : 880px;
	text-align:center;
	background-color:#9793A7;
}


#SceneScene6 #lb_instruciones{
	position : absolute;
	font-size : 22pt;
	color : #210000;
	left : 100px;
	top : 100px;
	width : 800px;
}

#SceneScene6 #lista_videos{
	position : absolute;
	left : 110px;
	top : 250px;
	width : 200px;
}

.descripcion{
	white-space:pre-wrap;
	text-align:center;
	background-color: #A9A9A9;
}

#SceneScene6 #pantalla_video{
	position : absolute;
	left : 430px;
	top : 190px;
	width : 410px;
	height : 250px;
}

#SceneScene6 #controlador_video{
	position : absolute;
	left : 430px;
	top : 440px;
}

#SceneScene6 #help_bar_ayuda{
	position : absolute;
	left : 0px;
	top : 505px;
}
