#SceneScene2 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
	background-color : #D3D6DE;
}


#SceneScene2 #TituloProgramas{
	position : absolute;
	font-size : 26pt;
	color : #210000;
	left : 40px;
	top : 20px;
	width : 880px;
	text-align:center;
	background-color:#9793A7;
}

#SceneScene2 #ListaProgramas{
	position : absolute;
	left : 40px;
	top : 220px;
	width : 240px;
	height : 250px;
}


#SceneScene2 #helpBar2{
	position : absolute;
	left : 0px;
	top : 506px;
}


#SceneScene2 #lbDescripcion{
	position : absolute;
	font-size : 16pt;
	color : #000000;
	left : 430px;
	top : 220px;
	width : 430px;
	white-space:pre-wrap;
	/*height : 150px;*/
}

#SceneScene2 #lbTituloDescripcion{
	position : absolute;
	font-size : 22pt;
	color : #210000;
	left : 430px;
	top : 160px;
	width : 430px;
	text-align:center;
	background-color: #A9A9A9;
	border: 3px solid #000000;
}

#SceneScene2 #lbLista{
	position : absolute;
	font-size : 22pt;
	color : #210000;
	left : 40px;
	top : 160px;
	width : 240px;
	text-align:center;
	background-color: #A9A9A9;
	border: 3px solid #000000;
}
.descripcion{
	background-color :#928AAB;
	text-align:center;
	padding-top:25px;
	padding-bottom:25px;
}

#SceneScene2 #cargandoProgramas{
	position : absolute;
	left : 370px;
	top : 170px;
}
