#SceneScene3 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
	background-color : #D3D6DE;
}


#SceneScene3 #lbEncuesta{
	position : absolute;
	font-size : 26pt;
	color : #210000;
	left : 250px;
	top : 20px;
	width : 440px;
}

#SceneScene3 #listaEncuestas{
	position : absolute;
	left : 360px;
	top : 120px;
	width : 240px;
	height : 190px;
}

#SceneScene3 #helpBar3{
	position : absolute;
	left : 0px;
	top : 506px;
}

#SceneScene3 #lbDescripcionEncuestas{
	position : absolute;
	font-size : 16pt;
	color : #210000;
	left : 100px;
	top : 340px;
	width : 750px;
	white-space:pre-wrap;
	height : 150px;
	background-color :#ffff00
}


#SceneScene3 #cargandoEncuestas{
	position : absolute;
	left : 400px;
	top : 120px;
}
