#SceneScene7 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 960px;
	height : 540px;
	background-color : #D3D6DE;
}


#SceneScene7 #btnVolverVotar{
	position : absolute;
	left : 260px;
	top : 460px;
	width : 170px;
}

#SceneScene7 #btnGrafico{
	position : absolute;
	left : 530px;
	top : 460px;
	width : 170px;
}

#SceneScene7 #lbTituloPaginaOK{
	position : absolute;
	font-size : 36pt;
	color : #210000;
	left : 300px;
	top : 50px;
	width : 370px;
}

.titulo{
text-align:center;
}

#SceneScene7 #lbDescripcionPaginaOK{
	position : absolute;
	font-size : 24pt;
	color : #210000;
	left : 200px;
	top : 130px;
	width : 580px;
}


#SceneScene7 #svecImage_4PVJ{
	position : absolute;
	left : 340px;
	top : 190px;
	width : 280px;
	height : 240px;
}

.imagenGrafico{
	position : absolute;
	left : 230px;
	top : 190px;
	width : 500px;
	height : 230px;
	border-style:solid;
	border-width:5px;
}

.ocultar{
	display:none;
}

#SceneScene7 #cargaGrafico{
	position : absolute;
	left : 410px;
	top : 230px;
}
