
#squaresWaveG{
position:relative;
width:240px;
height:29px}

.squaresWaveG{
position:absolute;
top:0;
background-color:#000000;
width:29px;
height:29px;
-webkit-animation-name:bounce_squaresWaveG;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_squaresWaveG;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-o-animation-name:bounce_squaresWaveG;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-animation-name:bounce_squaresWaveG;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
}

#squaresWaveG_1{
left:0;
-webkit-animation-delay:0.32s;
-moz-animation-delay:0.32s;
-o-animation-delay:0.32s;
-ms-animation-delay:0.32s;
}

#squaresWaveG_2{
left:30px;
-webkit-animation-delay:0.4s;
-moz-animation-delay:0.4s;
-o-animation-delay:0.4s;
-ms-animation-delay:0.4s;
}

#squaresWaveG_3{
left:60px;
-webkit-animation-delay:0.48s;
-moz-animation-delay:0.48s;
-o-animation-delay:0.48s;
-ms-animation-delay:0.48s;
}

#squaresWaveG_4{
left:90px;
-webkit-animation-delay:0.56s;
-moz-animation-delay:0.56s;
-o-animation-delay:0.56s;
-ms-animation-delay:0.56s;
}

#squaresWaveG_5{
left:120px;
-webkit-animation-delay:0.64s;
-moz-animation-delay:0.64s;
-o-animation-delay:0.64s;
-ms-animation-delay:0.64s;
}

#squaresWaveG_6{
left:150px;
-webkit-animation-delay:0.72s;
-moz-animation-delay:0.72s;
-o-animation-delay:0.72s;
-ms-animation-delay:0.72s;
}

#squaresWaveG_7{
left:180px;
-webkit-animation-delay:0.8s;
-moz-animation-delay:0.8s;
-o-animation-delay:0.8s;
-ms-animation-delay:0.8s;
}

#squaresWaveG_8{
left:210px;
-webkit-animation-delay:0.88s;
-moz-animation-delay:0.88s;
-o-animation-delay:0.88s;
-ms-animation-delay:0.88s;
}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#000000;
}

100%{
background-color:#FFFFFF;
}

}

@-moz-keyframes bounce_squaresWaveG{
0%{
background-color:#000000;
}

100%{
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#000000;
}

100%{
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#000000;
}

100%{
background-color:#FFFFFF;
}

}
