/* List */
.sf-ui-list {line-height: 31px; font-size: 16px; }

/* Effects (Blur / Focus / Selected)*/
.sf-ui-list-blured_lst    { color: #000000; background: url(../listbox2/images/lst_normal_m.png) repeat-x ;   margin: 0 0 0 7px;}
.sf-ui-list-focused_lst { color: #ffffff;     background: url(../listbox2/images/lst_selected_m.png) repeat-x; margin: 0 0 0 7px;}
.sf-ui-list-selected_lst { color: #000000; background: url(../listbox2/images/lst_selected_m.png) repeat-x; margin: 0 0 0 7px;}

/* Borders */
.outer_left    { margin-top: 1px; display: block; overflow:hidden;}
.outer_right { margin-top: -33px; }
.outer_left_normal      { background: url(../listbox2/images/lst_normal_l.png) no-repeat left top ; }
.outer_left_selected    { background: url(../listbox2/images/lst_selected_l.png) no-repeat left top ;}
.outer_right_normal    { background: url(../listbox2/images/lst_normal_r.png) no-repeat left top ;}
.outer_right_selected { background: url(../listbox2/images/lst_selected_r.png) no-repeat left top ;}